langgraph
langchain
langchain-openai
langchain-community
langchain-chroma
chromadb
sentence-transformers
pypdf
pymupdf
feedparser
html2text
langchain-huggingface
rank-bm25
requests
deepeval
ragas
python-dotenv
pydantic
tiktoken
fastapi
uvicorn[standard]
